@import 'util';

nav {
	position: fixed;
	width: 100%;
	display: inline-block;
	left: 100%;
	z-index: 100;
	transition: all 1s;
	opacity: 0;
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 5px;
		left: 0;
		opacity: 1;

		transition: all 1s;
		@include gradient-orange(90deg);
	}
	&.open {
		opacity: 1;
		left: 0;
		background-color: $background;
	}
	.nav-items {
		width: 100%;
		height: calc(60px + 3.4rem);
		display: flex;
		font-family: pixel;
		color: white;
		font-size: 2rem;
		list-style: none;
		align-items: center;
		justify-content: space-around;
		padding-left: 2rem;
		position: relative;
	}

	li {
		color: white;
		text-transform: uppercase;
		transition: color 500ms;

		&:hover {
			color: $orange;
			animation: glow-hover 1s ease-in-out infinite alternate;
		}
	}
	@media only screen and (max-width: 600px) {
		.nav-items {
			margin: 2rem auto;
			height: 40vh;
			padding: 0;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
		}
	}
}
