nav {
	&.open {
		background-color: $background;
		&::after {
			opacity: 1;
		}
	}
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	transition: background-color 1.5s;
	width: 100%;
	z-index: 100;
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 5px;
		left: 0;
		opacity: 0;
		top: 100%;
		transition: all 1s;
		@include gradient-orange(90deg);
	}

	.nav-items {
		width: 100%;
		display: flex;
		font-family: pixel;
		color: white;
		font-size: 2rem;
		list-style: none;
		align-items: center;
		justify-content: space-around;
		padding-left: 2rem;
		position: relative;
		transform: translateX(100%);
		transition: all 1s;

		&.open {
			transform: translateX(0);
		}

		li {
			color: white;
			text-transform: uppercase;
			transition: color 500ms;

			&:hover {
				color: $orange;
				animation: glow-hover 1s ease-in-out infinite alternate;
			}
		}
	}
	@media only screen and (max-width: 600px) {
		flex-direction: column;
		.nav-items {
			position: relative;
			top: -35px;
			height: 40vh;
			padding: 0;
			justify-content: space-between;
			align-items: center;

			flex-direction: column;
		}
	}
}
