@import 'util';
:root {
	--port-width: 21rem;
	--port-height: 12rem;
	--port-text: 1rem;
}
section.portfolio {
	position: relative;
	z-index: 5;
	width: 75%;
	margin: 5vh auto;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.port-item {
	margin: 1rem;
	display: inline-block;
	border: 1px solid rgba(white, 0.5);
	padding: 1rem;

	.port-image {
		width: var(--port-width);
		height: var(--port-height);
		font-size: var(--port-text);
		background-size: cover;
	}

	.port-text {
		line-height: 140%;

		.port-text-name {
			font-weight: 500;
			font-size: 1.5em;
			margin-bottom: 1rem;
		}
		.port-text-desc {
			font-size: var(--port-text);
		}
		.link-container {
			text-align: right;
			a {
				transition: filter 0.7s;
			}
			a:hover {
				filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
			}
			img {
				height: 2rem;
				margin: 0 10px;
			}
		}
		color: white;
		padding: 1rem;
		margin-top: 1rem;
		border: 1px solid rgba(white, 0.5);
		width: var(--port-width);
	}
}

@media only screen and (max-width: 600px) {
	:root {
		--port-width: 18rem;
		--port-height: 11rem;
		--port-text: 0.7rem;
	}
}
