.menu-button {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-button:hover .bar:after {
  opacity: 1;
}

.menu-button:hover::after {
  opacity: 0;
}

.menu-button::after {
  content: "";
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  border-radius: inherit;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa800), color-stop(5%, #ffa800), to(#9e00ff));
  background: linear-gradient(180deg, #ffa800 0%, #ffa800 5%, #9e00ff 100%);
}

.menu-button .bar.bar-first {
  -webkit-transform-origin: right;
          transform-origin: right;
}

.menu-button .bar.bar-last {
  -webkit-transform-origin: left;
          transform-origin: left;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.menu-button .bar {
  will-change: "width";
  background-color: #0e0834;
  z-index: 5;
  width: 100%;
  height: 10%;
  margin: 5% 0;
  -webkit-transition: width 500ms ease-in-out, -webkit-transform 1000ms ease-in-out 500ms;
  transition: width 500ms ease-in-out, -webkit-transform 1000ms ease-in-out 500ms;
  transition: width 500ms ease-in-out, transform 1000ms ease-in-out 500ms;
  transition: width 500ms ease-in-out, transform 1000ms ease-in-out 500ms, -webkit-transform 1000ms ease-in-out 500ms;
  position: relative;
}

.menu-button .bar:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 1s, width 500ms ease-in-out, -webkit-transform 1000ms ease-in-out 500ms;
  transition: opacity 1s, width 500ms ease-in-out, -webkit-transform 1000ms ease-in-out 500ms;
  transition: opacity 1s, width 500ms ease-in-out, transform 1000ms ease-in-out 500ms;
  transition: opacity 1s, width 500ms ease-in-out, transform 1000ms ease-in-out 500ms, -webkit-transform 1000ms ease-in-out 500ms;
  background: -webkit-gradient(linear, left top, right top, from(#ffa800), color-stop(5%, #ffa800), to(#9e00ff));
  background: linear-gradient(90deg, #ffa800 0%, #ffa800 5%, #9e00ff 100%);
}

.menu-button.open {
  background: rgba(0, 0, 0, 0);
}

.menu-button.open .bar-first,
.menu-button.open .bar-last {
  width: 50%;
}

.menu-button.open .bar-first {
  -webkit-transform: translateY(10px) rotate(400deg);
          transform: translateY(10px) rotate(400deg);
}

.menu-button.open .bar:nth-of-type(2) {
  z-index: 100;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-button.open .bar-last {
  -webkit-transform: translateY(-10px) rotate(400deg);
          transform: translateY(-10px) rotate(400deg);
}

@font-face {
  font-family: "Dead Stock";
  src: url("fonts/DeadStock.ttf");
}

@font-face {
  font-family: "Pixel";
  src: url("fonts/pixel.ttf");
}

header {
  margin-top: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  font-family: Dead Stock, sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffa800), color-stop(5%, #ffa800), to(#9e00ff));
  background: linear-gradient(0deg, #ffa800 0%, #ffa800 5%, #9e00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 2rem;
  font-size: 7rem;
  position: relative;
  z-index: 100;
  -webkit-filter: drop-shadow(0px 0px 10px black);
          filter: drop-shadow(0px 0px 10px black);
}

header h2 {
  font-family: Pixel, sans-serif;
  color: white;
  font-size: 2rem;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  z-index: 100;
}

.name {
  text-align: center;
}

body {
  background-image: url(../background.svg);
  width: 100vw;
  background-size: cover;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

#hamburger-container {
  display: none;
  cursor: pointer;
  border: 1px solid red;
  height: 50px;
  width: 50px;
  margin: 20px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hamburger-container:hover .bar-first,
#hamburger-container:hover .bar-last {
  width: 50%;
}

#hamburger-container.open #circle {
  opacity: 0;
}

#hamburger-container.open .bar:after {
  opacity: 1;
}

#hamburger-container.open .bar-first,
#hamburger-container.open .bar-last {
  width: 50%;
}

#hamburger-container.open .bar-first {
  -webkit-transform: rotate(400deg);
          transform: rotate(400deg);
}

#hamburger-container.open .bar:nth-of-type(3) {
  z-index: 100;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#hamburger-container.open .bar-last {
  -webkit-transform: rotate(400deg);
          transform: rotate(400deg);
}

#circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #ffa800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa800), color-stop(5%, #ffa800), to(#9e00ff));
  background: linear-gradient(180deg, #ffa800 0%, #ffa800 5%, #9e00ff 100%);
}

nav {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: pixel;
  color: white;
  font-size: 2rem;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 2rem;
  position: relative;
  left: 100%;
  -webkit-transition: left 1s;
  transition: left 1s;
}
/*# sourceMappingURL=styles.css.map */