@import 'nav-icon';
@import 'util';
@import 'nav';
@import 'about';
@import 'skills';
@import 'headlines';
@import 'portfolio';
@import 'contact';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	position: relative;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}

.front-page-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero {
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		position: relative;
		text-align: center;
		padding: 2rem;
		font-size: 8rem;

		filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.75));
		animation: name-in 2s ease-out both;

		span {
			font-family: Dead Stock, sans-serif;
			@include gradient-orange(0deg);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			padding: 1rem;
		}
	}
	h2 {
		font-weight: 100;
		font-family: Pixel, sans-serif;
		color: white;
		font-size: 3rem;
		text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);

		text-transform: uppercase;

		text-align: center;
		animation: glow 1s ease-in-out infinite alternate;
	}

	.cta {
		position: relative;
		padding: 1rem 3rem;
		background: linear-gradient($orange 0%, $stop1 100%);
		font-family: Pixel;
		color: white;
		margin-top: 5rem;
		font-size: 4rem;
		@media screen and (max-width: 600px) {
			font-size: 2.5rem;
		}
		border: none;
		z-index: 0;
		&:after {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 1;
			background: linear-gradient($purple 0%, $stop2 100%);
			opacity: 0;
			transition: opacity 1s;
		}

		&:hover::after {
			opacity: 1;
		}
		span {
			position: relative;
			z-index: 5;
		}
	}
	@media only screen and (max-width: 600px) {
		h1 {
			font-size: 4rem;
		}
		h2 {
			font-size: 2rem;
		}
	}
}

body {
	width: 100%;
	position: relative;
	height: 100%;
	background-color: $background;
	overflow-x: hidden;

	&:before {
		content: '';
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background-color: rgba($background, 0);
		transition: background-color 0.8s;
		z-index: -5;
	}

	&:after {
		content: '';
		position: fixed;
		background-color: $background;
		background-size: cover;
		background-image: url(../images/background-l.png);
		height: 100vh;
		@media screen and (orientation: portrait) {
			background-image: url(../images/background-p.png);
		}
		top: 0;
		left: 0;
		width: 100%;

		z-index: -10;
	}
}

body.faded:before {
	background-color: rgba($background, 0.75);
}

.end {
	width: 100%;
	height: 0.25rem;
	@include gradient(90deg);
	opacity: 0.75;
}

footer {
	margin: 1rem;
	width: 100%;
	color: white;
	text-align: center;
	font-family: Montserrat, sans-serif;
}
