@font-face {
  font-family: 'Dead Stock';
  src: url("fonts/DeadStock.ttf");
}

@font-face {
  font-family: 'Pixel';
  src: url("fonts/pixel.ttf");
}

@-webkit-keyframes glow {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
  }
}

@keyframes glow {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
  }
}

@-webkit-keyframes glow-hover {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0px 0px 20px white;
  }
}

@keyframes glow-hover {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0px 0px 20px white;
  }
}

@-webkit-keyframes name-in {
  0% {
    opacity: 0;
    bottom: 50px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes name-in {
  0% {
    opacity: 0;
    bottom: 50px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

#nav-icon-container {
  height: 60px;
  width: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 25px;
  -webkit-clip-path: circle(30px at 30px 30px);
          clip-path: circle(30px at 30px 30px);
  -webkit-transition: opacity 0.5s ease-in-out 0.1s;
  transition: opacity 0.5s ease-in-out 0.1s;
  cursor: pointer;
}

#nav-icon-container::after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  background: -webkit-gradient(linear, left top, right top, from(#ffa800), color-stop(5%, #ffa800), to(#9e00ff));
  background: linear-gradient(90deg, #ffa800 0%, #ffa800 5%, #9e00ff 100%);
  border-radius: 50%;
  z-index: -1;
}

#nav-icon-container:hover::after {
  opacity: 0;
}

#nav-icon-container:hover span::after {
  opacity: 1;
}

#nav-icon-container.open::after {
  opacity: 0;
}

#nav-icon-container:hover {
  -webkit-clip-path: none;
          clip-path: none;
}

#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #0e0834;
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span::after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  opacity: 0;
  z-index: -1;
}

#nav-icon span:nth-child(odd)::after {
  background: -webkit-gradient(linear, left top, right top, from(#ffa800), color-stop(5%, #ffa800), to(#9e00ff));
  background: linear-gradient(90deg, #ffa800 0%, #ffa800 5%, #9e00ff 100%);
}

#nav-icon span:nth-child(even)::after {
  background: -webkit-gradient(linear, right top, left top, from(#ffa800), color-stop(5%, #ffa800), to(#9e00ff));
  background: linear-gradient(270deg, #ffa800 0%, #ffa800 5%, #9e00ff 100%);
}

#nav-icon span:nth-child(even) {
  left: 50%;
}

#nav-icon span:nth-child(odd) {
  left: 0px;
}

#nav-icon span:nth-child(1),
#nav-icon span:nth-child(2) {
  top: 0px;
}

#nav-icon span:nth-child(3),
#nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon span:nth-child(5),
#nav-icon span:nth-child(6) {
  top: 36px;
}

#nav-icon-container.open #nav-icon span:nth-child(1),
#nav-icon-container.open #nav-icon span:nth-child(6) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav-icon-container.open #nav-icon span:nth-child(2),
#nav-icon-container.open #nav-icon span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#nav-icon-container.open #nav-icon span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon-container.open #nav-icon span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon-container.open #nav-icon span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon-container.open #nav-icon span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon-container.open #nav-icon span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon-container.open #nav-icon span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

#nav-icon-container.open #nav-icon span::after {
  opacity: 1;
}

.dot {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #bc34b0;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.open .dot {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

@font-face {
  font-family: 'Dead Stock';
  src: url("fonts/DeadStock.ttf");
}

@font-face {
  font-family: 'Pixel';
  src: url("fonts/pixel.ttf");
}

@keyframes glow {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
  }
}

@keyframes glow-hover {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0px 0px 20px white;
  }
}

@keyframes name-in {
  0% {
    opacity: 0;
    bottom: 50px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -webkit-transition: background-color 1.5s;
  transition: background-color 1.5s;
  width: 100%;
  z-index: 100;
}

nav.open {
  background-color: #0e0834;
}

nav.open::after {
  opacity: 1;
}

nav::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  opacity: 0;
  top: 100%;
  -webkit-transition: all 1s 0.2s;
  transition: all 1s 0.2s;
  background: -webkit-gradient(linear, left top, right top, from(#ffa800), color-stop(5%, #ffa800), to(#9e00ff));
  background: linear-gradient(90deg, #ffa800 0%, #ffa800 5%, #9e00ff 100%);
}

nav .nav-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: pixel;
  color: white;
  font-size: 2rem;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 2rem;
  position: relative;
  left: 100%;
  -webkit-transition: left 1s;
  transition: left 1s;
}

nav .nav-items.open {
  left: 0%;
}

nav .nav-items li {
  text-transform: uppercase;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

nav .nav-items li:hover {
  color: #ffa800;
  -webkit-animation: glow-hover 1s ease-in-out infinite alternate;
          animation: glow-hover 1s ease-in-out infinite alternate;
}

@media only screen and (max-width: 600px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .nav-items {
    position: relative;
    top: -35px;
    height: 40vh;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 150%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.front-page-container {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h1 {
  position: relative;
  text-align: center;
  padding: 2rem;
  font-size: 6.5rem;
  -webkit-filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.75));
          filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.75));
  -webkit-animation: name-in 2s ease-out both;
          animation: name-in 2s ease-out both;
}

.hero h1 span {
  font-family: Dead Stock, sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffa800), color-stop(5%, #ffa800), to(#9e00ff));
  background: linear-gradient(0deg, #ffa800 0%, #ffa800 5%, #9e00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
}

.hero h2 {
  font-weight: 100;
  font-family: Pixel, sans-serif;
  color: white;
  font-size: 2rem;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  width: 250px;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
          animation: glow 1s ease-in-out infinite alternate;
}

@media only screen and (max-width: 600px) {
  .hero {
    margin-top: 25vh;
  }
  .hero h1 {
    font-size: 4rem;
  }
}

.name {
  text-align: center;
}

body {
  position: relative;
  background-image: url(../background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  z-index: -10;
}

body:after {
  content: '';
  position: fixed;
  background-color: #0e0834;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

body.faded::after {
  opacity: 1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  width: 80%;
  margin: 5vh auto 0 auto;
  color: white;
}

.content2 {
  width: 80%;
  margin: 100vh auto;
  color: white;
}
/*# sourceMappingURL=styles.css.map */