@import 'nav-icon';
@import 'util';
@import 'nav';
@import 'about';
@import 'skills';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.front-page-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero {
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		position: relative;
		text-align: center;
		padding: 2rem;
		font-size: 8rem;

		filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.75));
		animation: name-in 2s ease-out both;

		span {
			font-family: Dead Stock, sans-serif;
			@include gradient-orange(0deg);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			padding: 1rem;
		}
	}
	h2 {
		font-weight: 100;
		font-family: Pixel, sans-serif;
		color: white;
		font-size: 3rem;
		text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);

		text-transform: uppercase;
		width: 250px;
		text-align: center;
		animation: glow 1s ease-in-out infinite alternate;
	}
	@media only screen and (max-width: 600px) {
		//margin-top: 5vh;
		h1 {
			font-size: 4rem;
		}
	}
}

body {
	width: 100vw;
	position: relative;
	background-image: url(../images/background.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;

	overflow-x: hidden;
	background-color: $background;

	&:after {
		content: '';
		position: fixed;
		background-color: $background;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		opacity: 0;
		transition: opacity 0.6s;
	}
}

body.faded::after {
	opacity: 0.5;
}
